 main {
    text-align: center;
max-width: 800px;
margin: auto;

 }
 
 body {
     max-width: 800px;
     margin: auto;
     text-align: center;
     background-image:url("bg.png");
color: grey;
font-family: sans-serif;
}
header {
    max-width: 800px;
    text-align: center;
    margin: auto;
}
body a {
    color:darkgoldenrod;
}
body a :hover {
    background:black;
    color:crimson
}

h1,h2,h3 {
    font-family: sans-serif;
    color: darkgoldenrod;
    
}


#bannersize {
    z-index: 0;
    max-width: 800px;
}
#Portfolio {
    color: darkgoldenrod;
}
#Kontakt {
    color: darkgoldenrod;
}
#übermich {
    color: darkgoldenrod;
}

.navi {
overflow: hidden;
z-index: 1;
background-color: black;
position: fixed;
margin-left: 550px;
top: 0;
}

.navi a {
    font-family: sans-serif;
    float: left;
  display: block;
  color:blanchedalmond;
  padding: 11px 11px;
  text-decoration: none;
  display:inline;
  line-height: 1;
  border-right: 1px solid white;
}

.navi a:hover {
    background:black;
    color:darkgoldenrod;
}

.formular {
    border: none;
    font-family: sans-serif;
    

}
::placeholder {
    color: white;
}
textarea {
    color: white;
}
form {
    text-align: left;
    border: 1px black;
    width: 90%;
    padding: 0 5em;
    margin: 0 -100px ;

}
form label {
    display: block;
    padding-left: 3px;
}
input {
    background-color: rgb(190, 190, 190);
    border: none;
    color: white;
}
#k {
    text-align: left;
    margin: 0 0 20px; 
      margin-top: 120px;
}
#nachricht {
    font-family: sans-serif;
    background-color: rgb(190, 190, 190);
    border: none;
}

#socialmedia {
    position: absolute;
    z-index: 1;
    overflow: hidden;
     top: 0;
     margin-left: 300px;
     margin-top: 60px;
}
#socialmedia :hover {
    color: black;
    background:rgb(173, 127, 10)
}
table {
    margin: auto;
}